body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background-color: green;
}

.todos-container {
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

li.completed {
  background-color: grey;
  text-decoration: line-through;
}
